body {
    margin: 0;
    padding: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
}

#map {
    height: 700px;
    /* border: solid 20px #000; */
    border: none;
    border-bottom: solid 1px#ccc;
    margin-top: 58px;
}

.teste {
    background-color: aqua;
}

.nodecoration {
    text-decoration: none;
}