<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Mapa de calor com Mapbox GL JS</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: #fff;
        border-bottom: solid 1px #eee;
      }
      #map {
        height:700px;
        border: solid 20px #000;
        margin-top: 58px;
      }
      .teste {
        background-color: aqua;
      }
    </style>
  </head>
  <body>
    <header class="fixed-top">
      <div class="container text-left">
        <div class="row align-items-center logo ">
          <div class="col d-flex align-items-center col-sm-6 col-md-8">
            <a href="#">
            <img id="logo" src="https://www.voltalia.com/sites/g/files/knoqqb77836/themes/site/nir_pid3850/dist/images/logo.png" alt="Voltalia">
            </a>
          </div>
          <div class="col col-6 col-md-4">
            <form id="myForm" action="/submit" method="post">
              <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option value="janeiro21">Janeiro 2021</option>
                  <option value="fevereiro21">Fevereiro 2021</option>
                  <option value="marco21">Março 2021</option>
                  <option value="abril21">Abril 2021</option>
                  <option value="maio21">Maio 2021</option>
                  <option value="junho21">Junho 2021</option>
                  <option value="julho21">Julho 2021</option>
                  <option value="agosto21">Agosto 2021</option>
                  <option value="setembro21">Setembro 2021</option>
                  <option value="outubro21">Outubro 2021</option>
                  <option value="novembro21">Novembro 2021</option>
                  <option value="dezembro21">Dezembro 2021</option>
                  <option value="Janeiro22">Janeiro 2021</option>
                </select>
                <label for="floatingSelect">Amostras</label>
            </div>
          </form>
          </div>
        </div>
      </div>
      
    </header>
    
    <div class="border" id='map'></div>
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js'></script> -->
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoidnluaWphbGVzIiwiYSI6ImNsZjh4YWo5bDBpaHMzcmtlZzM3MGJoZ2gifQ._Wm3t6w7QFppRKUvL6CXYA';

      let coordinates = [
        [1.690874, 4.534907],
        [17.15, 4.317083],
        [1.740555, 4.400693],
        [1.710456, 4.280334],
        [1.733147, 4.325468],
        [1.661088, 4.314725],
        [1.665065, 4.309689]
        ];


      let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [1.690874, 4.534907],
        zoom: 1
      });

      map.on('load', function () {
  
        // Adiciona o mapa de calor
        map.addLayer({
          id: 'heatmap',
          type: 'heatmap',
          source: {
            type: 'geojson',
            data: {
              type: 'FeatureCollection',
              features: coordinates.map(function (coordinate) {
                return {
                  type: 'Feature',
                  geometry: {
                    type: 'Point',
                    coordinates: coordinate
                  }
                };
              })
            }
          },
          paint: {
            'heatmap-radius': {
              stops: [
                [0, 10],
                [2, 20],
                [4, 40],
                [6, 80],
                [8, 160]
              ]
            },
            'heatmap-color': [
              'interpolate',
              ['linear'],
              ['heatmap-density'],
              0, 'rgba(0, 0, 255, 0)',
              0.2, 'rgb(0, 255, 0)',
              0.4, 'rgb(255, 255, 0)',
              0.6, 'rgb(255, 0, 0)',
              0.8, 'rgb(255, 0, 255)'
            ],
            'heatmap-opacity': 0.8
          }
        });

        // Adiciona o marcador
        coordinates.forEach(element => {
          new mapboxgl.Marker()
          .setLngLat(element)
          .addTo(map);
        });
      });


      // Formulário
      const form = document.getElementById('myForm');
      const select = document.getElementById('meses');

      select.addEventListener('change', function() {
        form.submit();
      });



    </script>


<footer class="bd-footer ">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row align-items-center">
      <div class="row mb-3">
        <a class="d-inline-flex align-items-center mb-2 text-body-secondary text-decoration-none" href="/" aria-label="Bootstrap">
          <h4 class="fs-5">Projeto: Voltalia</h4>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2">Este site foi projetado com base no modelo fornecido pela empresa Voltalia (www.voltalia.com) e inclui o uso do logotipo da empresa. Agradecemos à Voltalia pela disponibilização do modelo e pela inspiração para o design deste site.</li>
          <!-- <li class="mb-2">Atualmente v1.0.0-alpha.</li> -->
        </ul>
      </div>
      <div class="row d-flex align-items-center row-sm-6 row-md-8">
        <!-- <div class="row">
          <h5>Entre em contato</h5>
          <ul class="list-unstyled">
            <li class="row mb-2"><a href="mailto:vynijales@gmail.com">E-mail pessoal</a></li>
            <li class="row mb-2"><a href="mailto:matheus.jales@alunos.ufersa.edu.br">E-mail da UFERSA</a></li>
            <li class="row mb-2"><a href="https://wa.me/5584933004187">WhatsApp pessoal</a></li>
          </ul>
        </div> -->
        <div class="row align-items-center">
          <h5>Tecnologias utilizadas</h5>
          <ul class="list-unstyled row align-items-center">
            <li class="col col-6 col-md-1" ><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain-wordmark.svg" width="40" height="40"/></li>
            <li class="col col-6 col-md-1"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" width="40" height="40"/></li>
            <li class="col col-6 col-md-1"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" width="40" height="40"/></li>
            <li class="col col-6 col-md-1"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" width="40" height="40"/></li>
            <li class="col col-6 col-md-1"><img src="https://day-journal.com/memo/images/logo/mapboxgljs.png" width="100" height="50"/></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
  </body>
</html>
