<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Hello World</div>

    <ul>
    <!-- Jinja -->
    <!-- Double Chaves são para variáveis, Chaves são para comandos -->
    <!-- cRud (read) -->
    {% for pessoa in pessoas %}
        <li>{{ pessoa.id}} - {{ pessoa.nome }}
            <!-- crUd (update) -->
            <a href="{% url 'editar' pessoa.id %}">Editar</a>
            <!-- cruD (delete) -->
            <a href="{% url 'delete' pessoa.id %}">Deletar</a>
            {% endfor%} </li>
    </ul>

    <!-- Crud (create) -->
    <form action="{% url 'salvar' %}" method="post">
        {% csrf_token %} <!-- Token que protege o form de um determinado tipo de ataque, é obrigatório a inclusão desssa linha de comando -->
        <input type="text" name="nome">
        <button type="submit">Salvar</button>
    </form>

    
</body>
</html>